.footer {
  background-color: #000;
  color: #fff;
  padding: 1px;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-icons {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.footer-icon {
  width: 24px;
  height: 24px;
  margin: 0 5px;
}

.footer-icon:hover {
  opacity: 0.8;
}
