.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  list-style: none;
  display: flex;
}

.navbar-item {
  margin-right: 20px; /* Adjust the margin to create spacing between items */
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}
.navbar-item navbar-item-bio {
  align-items: left;
}
.navbar-item navbar-item-projects {
  align-items: center;
}
.navbar-item navbar-item-resume {
  align-items: right;
}

