body {
  background-image: url('./images/bgbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.projects-section {
  padding: 40px 0;
}

.projects-heading {
  text-align: center;
  margin-bottom: 40px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  margin: 20px;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
}

.project-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-screenshot {
  text-align: center;
  margin-bottom: 10px;
}

.project-screenshot img {
  max-width: 100%;
  border-radius: 5px;
}

.project-description {
  margin-bottom: 20px;
}

.project-link {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.project-link:hover {
  background-color: #0056b3;
}
